.questionAnswer {
    border-bottom: 1px solid #242424;
    > .question {
        display: flex;
        > h3 {
            font-family: Intro Regular;
            font-size: 1.25em;
            margin: 25px 0;
            flex-grow: 1;
        }
        > button {
            width: 25px;
            margin-right: 5px;
            > svg {
                width: 100%;
                transition: 0.4s !important;
            }
        }
    }

    > .answer {
        transition: 0.4s;
        overflow: hidden;
        opacity: 0.7;
        > div {
            margin-bottom: 15px;
        }
    }
}
