.aboutUs {
    display: flex;
    justify-content: center;
    min-height: 580px;
    margin-top: 60px;
    background-color: #484283;
    background-image: url('../../assets/aboutUs/pattern.png');
    background-repeat: no-repeat;
    overflow: hidden;

    > div {
        position: relative;
        padding-right: calc(100% - 380px);
        padding: 50px calc(100% - 380px) 50px 0;

        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        color: white;
        > h2 {
            z-index: 1;
        }
        > p {
            z-index: 1;
            line-height: 22.4px;
        }
        > div {
            z-index: 1;
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: end;
            align-items: center;
            > div {
                height: 3px;
                width: 30px;
                background-color: white;
            }
            > p {
                font-family: Intro Bold;
                font-size: 20px;
                font-weight: 700;
                line-height: 20px;
            }
        }
        > img {
            height: 100%;
            clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
            position: absolute;
            right: 0;
            transition: filter 2s;
        }
    }
}

@media (width <= 1024px) {
    .aboutUs {
        > div {
            padding: 50px calc(100% - (320px + (380 - 320) * ((100vw - 768px) / (1024 - 768)))) 50px 0;
            $shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.5);
            > h2 {
                text-shadow: $shadow;
            }
            > p {
                text-shadow: $shadow;
            }
            > div {
                > div {
                    box-shadow: $shadow;
                }
                > p {
                    text-shadow: $shadow;
                }
            }
            > img {
                right: calc(-238px + ((-100) - (-238)) * ((100vw - 768px) / (1024 - 768)));
            }
        }
    }
}

@media (width <= 768px) {
    .aboutUs {
        min-height: 75.6vw;
        > div {
            padding: 50px calc(100% - (240px + (320 - 240) * ((100vw - 375px) / (768 - 375)))) 50px 0;

            > img {
                right: calc(-255px + ((-238) - (-255)) * ((100vw - 375px) / (768 - 375)));
            }
        }
    }
}
