@font-face {
    font-family: 'Intro Regular';
    src: url('Intro-Regular.eot');
    src: local('Intro-Regular'), url('Intro-Regular.eot?#iefix') format('embedded-opentype'),
        url('Intro-Regular.woff2') format('woff2'), url('Intro-Regular.woff') format('woff'),
        url('Intro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Intro Bold';
    src: url('Intro-Bold.eot');
    src: local('Intro-Bold'), url('Intro-Bold.eot?#iefix') format('embedded-opentype'),
        url('Intro-Bold.woff2') format('woff2'), url('Intro-Bold.woff') format('woff'),
        url('Intro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Intro Book';
    src: url('Intro-Book.eot');
    src: local('Intro-Book'), url('Intro-Book.eot?#iefix') format('embedded-opentype'),
        url('Intro-Book.woff2') format('woff2'), url('Intro-Book.woff') format('woff'),
        url('Intro-Book.ttf') format('truetype');
}
